<span><a href='http://localhost:8080'>Home</a></span>
<h2>Our Product Categories</h2>
<p>At Happy Days General Store, you can can buy products in these areas:</p>
<ul>
    <% categories.forEach( category => { %>
        <li><a href= "http://localhost:8080/category/<%=category._id%>"><%=category.display_name%></a></li>
    <% }) %>
</ul>