<span><a href='http://localhost:8080'>Home</a></span>
<h2>Our Products</h2>
<ul>
    <% products.forEach( product => { %>
        <li><strong><%= product.display_name %></strong> : <em><%= product.description %></em></li>
    <% }) %>
</ul>